:root {
    --dark-blue: #0A3871;
    --blue-800: #1e40af;

    --gray-100: #e0f2fe;
    --gray-300: #f3f5fc;
    --gray-400: #D8DFE8;

    --white: #FFF;

    --font-primaria: 'roboto', sans-serif;
}